extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Liste des patients

        ul
            li Nom | Id | Contact
            each val in JSON.parse(patients)
                li= val.id + ' | ' + val.nom + ' | ' + val.contact 